.container{
    display: flex;
}

.box{
    width: 200px;
    height: 200px;
}

.box1{
    background-color: black;
}

.box2{
    background-color: rgb(88, 82, 82);
}

.spacing{
    margin: 100px 0px 0px 100px;
}

.position-absolute{
    position:  absolute;
}

.position-relative{
    position:relative;
}