.container{
    display: flex;
}

.main-box{
    width: 400px;
    height: 600px;
    background-color: rgb(102, 96, 95);
    
    display: flex;
    justify-content: center;
}

.sub-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    width: 200px;
    height: 200px;
    background-color:black;  
}
