.container{
    display: flex;
}
.spacing1{
    justify-content: flex-end;
}
.spacing2{
    justify-content: center;
}
.spacing3{
    justify-content: flex-start;
}
.box{
    width: 200px;
    height: 200px;
    background-color: black;
}
