.container{
    display: flex;
    justify-content: space-between;
}

.box1{
    width: 400px;
    height: 400px;
    background-color: rgb(94, 94, 94);
}

.box2{
    width: 200px;
    height: 200px;
    background-color: black;
}

.align-box{
    align-self: flex-end;
}

