.container{
    display: flex;
}

.box1{
    width: 300px;
    height: 600px;
    background-color: rgb(102, 95, 95);
}

.sub-container{
    width: 425px;
    height: 600px;

    display: flex;
    justify-content: flex-end;

}

.box2{
    align-self: flex-end;

    width: 250px;
    height: 300px;
    background-color: black;

    display: flex;
}

.box3{
    align-self: flex-end;

    width: 200px;
    height: 200px;
    background-color: rgb(167, 159, 159);
    margin: 0px 0px -100px -100px;
}