.container{
    display: flex;
    justify-content: center;
}

.box1{
    width: 400px;
    height: 400px;
    background-color: rgb(75, 70, 70);

    display: flex;
    justify-content: center;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: black;
    align-self: center;
}