.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
}

.main-box{
    width: 700px;
    height: 300px;
    background-color: rgb(85, 79, 79);

    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.box{
    width: 200px;
    height: 200px;
    background-color: black;
}

.box1{
    align-self: flex-end;
}