.container{
    display: flex;
}

.main-box{
    width: 400px;
    height: 400px;
    background-color: rgb(109, 105, 105);

    display: flex;
    justify-content: flex-end;
}

.box{
    width: 200px;
    height: 200px;
    background-color: black;
}