.container{
    display: flex;
    justify-content: flex-end;
}

.box1{
    width: 400px;
    height: 400px;
    background-color: rgb(90, 85, 85);
    display: flex;
}

.box2{
    align-self: flex-end;
    width: 200px;
    height: 200px;
    background-color: black;
}