.container{
    display: flex;
}

.box1{
    width: 300px;
    height: 600px;
    background-color: rgb(102, 95, 95);

    display: flex;
    justify-content: flex-end;
}

.box2{
    align-self: flex-end;

    width: 250px;
    height: 300px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
}

.box3{
    align-self: flex-end;

    width: 200px;
    height: 200px;
    background-color: rgb(167, 159, 159);
    margin: 10px;
}