.container{
    display: flex;
    justify-content: center;
}

.main-box{
    width: 700px;
    height: 300px;
    background-color: rgb(94, 86, 86);
    margin: 50px;
    
}

.sub-box{
    width: 600px;
    height: 200px;
    margin: 50px;

    display: flex;
    justify-content: space-between;
}
.box{
    width: 200px;
    height: 200px;
    background-color:black;
}